
html {
    font-size: 1em;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: rgb(34, 33, 33);}
}

p,
li {
    margin-top: 0;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-family: serif;
}


h1 {
    font-size: 5.063em;
    line-height: 1;
    margin: 0 0 0.5em 0;
}

h2 {
    font-size: 3.375em;
    line-height: 1.2;
    margin: 1.5em 0 0.5em 0;
}




html {
    box-sizing: border-box;
}

img, video {
    width: auto;
    height: auto;
    max-width: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;

@media screen and (min-width: 600px) 
}


{
@media screen and (min-width: 1200px)}
